<%- include("../components/header") %>


<div class="d-flex justify-content-center align-items-center vh-100">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start shadow-lg mx-2 my-2 rounded bg-success-subtle" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        <img src="">
                        <span style="color: #198754"><i class="fa-solid fa-seedling"></i> &nbsp; FloraScan</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Don't worry we have your account safe and sound. Let's get your account back to you!
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <% if (hasMessages) { %>
                        <section>
                            <% messages.forEach(function(message) { %>
                                <p class="border d-flex justify-content-center align-items-center mb-4 border-danger border-1 bg-danger-subtle pt-2 pb-2 rounded-1 mb-1 list-group-item"><%= message %></p>
                            <% }); %>
                        </section>
                    <% } %>
                    <div class="card">
                        <div class="card-body py-5 px-md-5 rounded" style="background-color: #acd1c0">
                            <form method="POST" action="/forgot-password" id="form">
                                <h1 class="parent-text text-start align-items-center justify-content-center fw-bold fw-bolder pb-5 my-2">
                                    Confirm your Email
                                </h1>
                                <!----------------------------------------------------- Email verification field entries --------------------------------------------------------------------------->

                                <div class="pb-2">
                                    <div class="form-floating mt-1 mx-1">
                                        <input type="email" class="form-control" id="resetEmail" name="resetEmail"
                                               placeholder="email@company.com"
                                               required>
                                        <label for="resetEmail">Email</label>
                                    </div>
                                </div>

                                <div class="card-footer-sign my-3">
                                    <button class="btn btn-primary w-100 py-2"
                                            id="submit-btn">
                                        Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</div>
