<header>

    <nav class="navbar navbar-expand-lg nav-bg shadow sticky-top bg-white">
        <div class="container-fluid px-5">
            <a class="navbar-brand fs-3 fw-bold primary text-decoration-none" href="/">
                <img src="">
                <span style="color: #198754"><i class="fa-solid fa-seedling"></i> &nbsp; floraScan</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto fw-medium">
                    <a class="nav-link me-3" href="/">Home</a>
                    <a class="nav-link me-3" href="/allPlants">Plants</a>
                </div>
            </div>
        </div>
    </nav>
</header>