<%- include("components/header") %>
<%- include("components/navbar") %>

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('./serviceWorker.js')
            .then(function() { console.log('Service Worker Registered'); });
    }
</script>

<!-- Slogan/Banner -->
<div class="landing-title text-center py-4">
    <h1>Welcome to FloraScan</h1>
    <h6 class="landing-slogan mb-0">Discover the Beauty of Flora, One Plant at a Time</h6>
    <div class="container text-center my-4">
        <input class="form-control w-25 m-auto mb-3" id="nickname" placeholder="Enter nickname">
        <button class="btn btn-lg" onclick="nicknameButton()">Start Exploring</button>
    </div>
</div>
<!-- End of Slogan/Banner -->

<!-- Section: Design Block -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 px-4 py-5 px-md-5 text-center text-lg-start shadow-lg mx-2 my-2 rounded bg-success-subtle" style="background-color: hsl(0, 0%, 96%);">
            <div class="container">
                <div class="row gx-lg-5">
                    <!-- Card 1 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Plant Recognition</h5>
                                <img src="/images/plant-snap.png" class="img-fluid my-3" alt="Plant Snap Image"> <!-- Added image here -->
                                <p class="card-text">Snap a photo, unlock nature's secrets. Instantly identify plants and delve into their fascinating world</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Community Sightings</h5>
                                <img src="/images/plant-community.jpg" class="img-fluid my-3" alt="Plant Community Image"> <!-- Added image here -->
                                <p class="card-text">Join a passionate community of nature enthusiasts. Share your discoveries, learn from others, and connect with fellow plant lovers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Plant Collection</h5>
                                <img src="/images/collection.png" class="img-fluid my-3" alt="Plant Community Image"> <!-- Added image here -->
                                <p class="card-text">Tailored recommendations based on your interests and contributions. Keep track of your sightings and engage with like-minded individuals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section: Design Block -->

<script src="/javascripts/indexDb.js"></script>
<script>
    function nicknameButton() {
        let nickname = document.getElementById('nickname');
        let name = nickname.value
        sessionStorage.setItem('nickName', name)
        if(sessionStorage.getItem('nickName')) {
            window.location.href='/allPlants'
        } else {
            alert("Please Field Your Nick Name Before Start.")
        }
    }
</script>