<%- include("components/header.ejs") %>

<div class="d-flex justify-content-center align-items-center">
    <a href="/login" class="btn mx-5 mt-5 my-5">Login</a>
    <a href="/register" class="btn mx-5 mt-5 my-5">Register</a>
</div>
