<%- include("components/header") %>

<%- include("components/navbar") %>


<!-- Slogan/Banner -->
<div class="landing-slogan text-center py-4">
    <h1>Welcome to FloraScan</h1>
    <p class="mb-0">Discover the Beauty of Flora, One Plant at a Time</p>
</div>
<!-- End of Slogan/Banner -->

<!-- Section: Design Block -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 px-4 py-5 px-md-5 text-center text-lg-start shadow-lg mx-2 my-2 rounded bg-success-subtle" style="background-color: hsl(0, 0%, 96%);">
            <div class="container">
                <div class="row gx-lg-5">
                    <!-- Card 1 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Plant Recognition</h5>
                                <img src="/images/plant-snap.png" class="img-fluid my-3" alt="Plant Snap Image"> <!-- Added image here -->
                                <p class="card-text">Snap a photo, unlock nature's secrets. Instantly identify plants and delve into their fascinating world</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Community Sightings</h5>
                                <img src="/images/plant-community.jpg" class="img-fluid my-3" alt="Plant Community Image"> <!-- Added image here -->
                                <p class="card-text">Join a passionate community of nature enthusiasts. Share your discoveries, learn from others, and connect with fellow plant lovers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Plant Collection</h5>
                                <img src="/images/collection.png" class="img-fluid my-3" alt="Plant Community Image"> <!-- Added image here -->
                                <p class="card-text">Tailored recommendations based on your interests and contributions. Keep track of your sightings and engage with like-minded individuals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section: Design Block -->

<!-- Start Exploring Button -->
<div class="container text-center my-4">
    <button class="btn btn-lg">Start Exploring</button>
    <p class="mt-3">Embark on an adventure of discovery. Let Nature's Notebook be your guide!</p>
</div>
<!-- End of Start Exploring Button -->
<script src="/javascripts/indexDb.js"></script>