<%- include("../components/header") %>
<%- include("../components/navbar") %>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-item p-4">
                <h3 class="text-muted fs-4 mb-4">Add Plant</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 d-flex align-items-center">
                            <label class="form-label">Upload Images</label>
                            <div class="d-flex">
                                <button class="btn btn-primary me-2" id="uploadBtn">Upload</button>
                                <button class="btn btn-success" id="clickPicBtn">Click a picture</button>
                                <input type="file" id="imageUpload" name="imageUpload" accept="image/*" style="display: none">
                            </div>

                        </div>

                        <div class="mb-3 d-flex align-items-center formField">
                            <label for="name" class="form-label me-3 formLabel">Name</label>
                            <input type="text" class="form-control formInput" id="name" required>
                        </div>

                        <div class="mb-3 d-flex align-items-center formField">
                            <label for="description" class="form-label me-3 formLabel">Description</label>
                            <textarea class="form-control formInput" id="description" rows="3" required></textarea>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="height" class="form-label">Plant Height:</label>
                                <input type="text" class="form-control" id="height" required>
                            </div>
                            <div class="col-md-6">
                                <label for="spread" class="form-label">Plant Spread:</label>
                                <input type="text" class="form-control" id="spread" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <p class="p-1">Image preview</p>
                        <div id="imagePreview" class="p-1"></div>
                        <p class="text-muted mt-2" id="fileName"></p>
                    </div>
                </div>

                <div class="col">
                    <h3 class="text-muted mb-3">Characteristics:</h3>

                    <div class="mb-3">
                        <label for="flowerRadio" class="form-label">Does the plant have flowers?</label>
                        <div class="btn-group">
                            <input type="radio" class="btn-check " name="flowerRadio" id="flowerYes" autocomplete="off" checked />
                            <label class="btn btn-secondary" for="flowerYes" data-mdb-ripple-init>Yes</label>

                            <input type="radio" class="btn-check " name="flowerRadio" id="flowerNo" autocomplete="off" />
                            <label class="btn btn-secondary" for="flowerNo" data-mdb-ripple-init>No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="leavesRadio" class="form-label">Does the plant have leaves?</label>
                        <div class="btn-group">
                            <input type="radio" class="btn-check " name="leavesRadio" id="leavesYes" autocomplete="off" checked />
                            <label class="btn btn-secondary" for="leavesYes" data-mdb-ripple-init>Yes</label>

                            <input type="radio" class="btn-check " name="leavesRadio" id="leavesNo" autocomplete="off" />
                            <label class="btn btn-secondary" for="leavesNo" data-mdb-ripple-init>No</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="fruitsRadio" class="form-label">Does the plant have fruits or seeds?</label>
                        <div class="btn-group">
                            <input type="radio" class="btn-check " name="fruitsRadio" id="fruitsYes" autocomplete="off" checked />
                            <label class="btn btn-secondary " for="fruitsYes" data-mdb-ripple-init>Yes</label>

                            <input type="radio" class="btn-check " name="fruitsRadio" id="fruitsNo" autocomplete="off" />
                            <label class="btn btn-secondary" for="fruitsNo" data-mdb-ripple-init>No</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="sunRadio" class="form-label">What is the sun exposure in that area?</label>
                        <div class="btn-group">
                            <input type="radio" class="btn-check " name="sunRadio" id="sunFull" autocomplete="off" value="Full sun" checked />
                            <label class="btn btn-secondary" for="sunFull" data-mdb-ripple-init>Full sun</label>
                            <input type="radio" class="btn-check " name="sunRadio" id="sunPartial" autocomplete="off" value="Partial shade" />
                            <label class="btn btn-secondary" for="sunPartial" data-mdb-ripple-init>Partial Shade</label>

                            <input type="radio" class="btn-check " name="sunRadio" id="shadeFull" autocomplete="off" value="Full shade"/>
                            <label class="btn btn-secondary" for="shadeFull" data-mdb-ripple-init>Full shade</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colour" class="form-label">What is the colour of the flowers?</label>
                        <input type="text" class="form-control " id="colour" name="colour">
                    </div>

                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/javascripts/plantListing.js"></script>
